{{ define "head" }}<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/static/css/basic.css" type="text/css">
        <title>{{ .page.title }}</title>
    </head>
    <body>
        <nav id="menu" class="menu"></nav>
        <main>
{{ end }}
{{ define "tail" }}
        </main>
        <a id="goto" class="goto-btn">
            <img src="/static/icon/down-chevron.png" alt=""/>
        </a>
        <center id="loading"></center>
        <footer></footer>
    </body>
</html>
<script src="/static/js/functions.js" charset="utf-8"></script>
<script src="/static/js/modules.js" charset="utf-8"></script>
<script src="/static/js/player.js" charset="utf-8"></script>
<script charset="utf-8">
const categories = ['All', 'Python' ,'Go', 'JS', 'C++']; // # / 等符号会出现问题！
window.onload = async function() {
    NiceMeetingModules[window.location.pathname](categories);
};
</script>
{{ end }}
