{{ template "head" . }}
<section id="classes" style="max-width: 60%">
    <header></header>
    <div class="container tags"></div>
</section>
<section id="meetings" class="courses">
    <header></header>
    <div class="container gallery">
        <div id="meeting">
            <img f-name="Image" f-onclick="Id"/>
            <header f-name="Title" f-onclick="Id"></header>
            <small>#</small><small f-name="Id"></small>
            <summary f-name="Introduction"></summary>
            <time f-name="Time" style="float: right"></time>
        </div>
    </div>
    <div style="text-align: center; margin-top: 2em">
        <a class="button" href="/courses.html">More...</a>
    </div>
</section>
{{ template "tail" . }}
