{{ template "head" . }}
<section id="classes" style="max-width: 60%">
    <header></header>
    <div class="container tags"></div>
</section>
<section id="meetings" class="courses">
    <header></header>
    <div class="container gallery">
        <div id="meeting">
            <img f-name="Image" f-onclick="id"/>
            <header f-name="title" f-onclick="id"></header>
            <small>#</small><small f-name="id"></small>
            <summary f-name="content"></summary>
            <time f-name="last_edited_time" style="float: right"></time>
        </div>
    </div>
    <div style="text-align: center; margin-top: 2em">
        <a class="button" href="/meetings.html">More...</a>
    </div>
</section>
{{ template "tail" . }}
