{{ template "head" . }}
<section>
    <form action="/api/signup" method="post" accept-charset="utf-8">
        <div>
            <label>Email</label>
            <input type="email" name="email" id="email" value="">
        </div>
        <div>
            <label>Name</label>
            <input type="text" name="username" id="username" value="">
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" id="password" value="">
        </div>
        <input class="button" type="submit" value="Signup"/>
        <a href="/login.html" style="float: right;font-size: small">Already have an account, can log in directly</a>
    </form>
</section>
{{ template "tail" . }}
