{{ template "head" . }}
<section>
    <div class="container user">
        <img id="user-picture"></img>
        <div id="user-profile" class="profile">
            <label>Name</label>
            <p f-name="name"></p>
            <small>#</small><small f-name="id"></small>
            <hr>
            <label>Email</label>
            <p f-name="email"></p>
            <hr>
            <label>Level</label>
            <p id="level" f-name="level" f-switch="Visitors;Users;Workers;Admins"></p>
            <hr>
            <label>Status</label>
            <p f-name="status"></p>
            <hr>
            <label>Last Login Time</label>
            <time f-name="last_login_time"></time>
        </div>
    </div>
</section>
<section>
    <header>Subscribes</header>
    <div class="container gallery">
        <div id="course">
            <img f-name="Image" f-onclick="Id"/>
            <header f-name="Title" f-onclick="Id"></header>
            <summary f-name="Introduction"></summary>
            <time f-name="Time" style="float: right"></time>
        </div>
    </div>
</section>
{{ template "tail" . }}
